*{
  padding:0;
  margin:0;
}
.jumbotron{
  color:#f4f4f4;
  background: #1D4350;
  background: -webkit-linear-gradient(to right, #A43931, #1D4350);
  background: linear-gradient(to right, #A43931, #1D4350); 
}

#icon{
  font-size: 40px;
}

.card{
  background: #1D4350;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #A43931, #1D4350);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #A43931, #1D4350); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color:#f4f4f4;
}

/*@media (max-width: 800px) {
  .jumbotron {
    grid-template-columns: repeat(2, 1fr);
  }
}*/

@media (max-width: 500px) {
  .jumbotron h1 {
    font-size:20px;
  }
}